<html>

<body>
    <h1>My results</h1>

<form action="/submit" method="post">  
<label for="Mathmematics">Mathmematics</label><br>
<input type="text" id="maths" name="maths" value="0"><br>
<label for="Science">Science</label><br>
<input type="text" id="science" name="science" value="0"><br>
<label for="Pyhton">Pyhton</label><br>
<input type="text" id="pyhton" name="python" value="0"><br>
<label for="C">C</label><br>
<input type="text" id="c" name="c" value="0"><br>
<input type="submit" value="Submit">
</form>

</body>

</html>